<h1>Login do usuário</h1>

<% flash.each do |nome, mensagem| %>
  <%= content_tag :div, mensagem, class: nome %>
<% end %>

<%= form_with scope: :login, url: login_path, local: true do |form| %>
  <p>
    <%= form.label :username %><br>
    <%= form.text_field :username, placeholder: "username" %>
  </p>
 
  <p>
    <%= form.label :password %><br>
    <%= form.password_field :password, placeholder: "senha" %>
  </p>

  <p>
    <%= form.submit 'Realizar login' %>
  </p>

  <p>
    <%= link_to 'Criar conta', new_usuario_path %>
  </p>

<% end %>