<div id="<%= dom_id troca %>">
  <p>
    <strong>Proposta por:</strong>
    <%= troca.proposta_por_id %>
  </p>

  <p>
    <strong>Proposta para:</strong>
    <%= troca.proposta_para_id %>
  </p>

  <p>
    <strong>Item proposto:</strong>
    <%= troca.item_proposto_id %>
  </p>

  <p>
    <strong>Item:</strong>
    <%= troca.item_id %>
  </p>

</div>
