<p style="color: green"><%= notice %></p>

<%= render @troca %>

<div>
  <%= link_to "Edit this troca", edit_troca_path(@troca) %> |
  <%= link_to "Back to trocas", trocas_path %>

  <%= button_to "Destroy this troca", @troca, method: :delete %>
</div>
