<div id="<%= dom_id item_troca %>">
  <p>
    <strong>Nome:</strong>
    <%= item_troca.nome %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= item_troca.descricao %>
  </p>

  <p>
    <strong>Condicao:</strong>
    <%= item_troca.condicao %>
  </p>

  <p>
    <strong>Dono:</strong>
    <%= item_troca.dono %>
  </p>

</div>
