<head>
  <meta charset="UTF-8">
  <%= stylesheet_link_tag "search", "data-turbo-track": "reload" %>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
</head>

<body>
  <% flash.each do |nome, mensagem| %>
    <%= content_tag :div, mensagem, class: nome %>
  <% end %>

  <h3 class="titlePage">Resultados da pesquisa por "<%= params[:q] %>" </h3>
  
  <% if @pesquisa.empty? %>
    <p class="subtitleResult">Nenhum resultado encontrado</p>
  <% else %>
    <p class="subtitleResult"> <%= @pesquisa.count %> resultados encontrados <br>
    <div class="container">
      <% @pesquisa.each do |result| %>
        <div class="card">
          <%= link_to result.nome, item_troca_path(result.id), class:"card-title" %>
          <% result.images.each do |image| %>
            <div style="width:150px; height:150px;">
              <%= image_tag(image, style:"width:100%; height: auto;")  %>
            </div>
          <% end %>
          <ul class="card-text">             
            <li> <b> Condição: </b> <%= result.condicao %> </li>
            <li> <b> Descrição: </b> <%= result.descricao %> </li>           
          </ul>
        </div>
      <% end %>
    </div>
  <% end %>

</body>

