<head>
  <meta charset="UTF-8">
  <%= stylesheet_link_tag "search", "data-turbo-track": "reload" %>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
</head>

<body>
  <% flash.each do |nome, mensagem| %>
    <%= content_tag :div, mensagem, class: nome %>
  <% end %>

  <h1 class="titlePage">Resultados da pesquisa por " <%= params[:q] %> " </h1>
  
  <% if @pesquisa.empty? %>
    <p>Nenhum resultado encontrado</p>
  <% else %>
    <p> <%= @pesquisa.count %> resultados encontrados <br>
    <%= @pesquisa.each do |result| %>
      <p> <%= link_to result.nome, item_troca_path(result.id), class:"resultName" %> </p> <br> 
    <% end %>
  <% end %>
  
  

  
</body>

