<div id="<%= dom_id item %>">
  <p>
    <strong>Nome:</strong>
    <%= item.nome %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= item.descricao %>
  </p>

  <p>
    <strong>Condicao:</strong>
    <%= item.condicao %>
  </p>

  <p>
    <strong>Categoria:</strong>
    <%= item.categoria %>
  </p>

</div>
