<head>
    <meta charset="UTF-8">
    <%= stylesheet_link_tag "indexApplication", "data-turbo-track": "reload" %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
</head>

<body>
    <%= render template: "application/nav" %>
    
    <div class="header">
        
        <div class="headerLinks">
            <%= link_to "Roupas", "#Roupas", class:"categoryLink" %>
            <%= link_to "Acessórios", "#Acessórios", class:"categoryLink" %>
            <%= link_to "Sapatos", "#Sapatos", class:"categoryLink" %>
            <%= link_to "Maquiagens", "#Maquiagens", class:"categoryLink" %>
            <%= link_to "Objetos", "#Objetos", class:"categoryLink" %>
            <%= link_to "Outros", "#Outros", class:"categoryLink" %>
        </div>

        <div class="userOptions">
            <% if @usuario %>
                <p class="helloUser"> Olá, <%= @usuario.username %> </p>
                <%= button_to "deslogar", logout_path, class:"deslogarBtn", method: :delete %>
                <%= button_to "Deletar sua conta!!!", @usuario, method: :delete %>
                <li><%= link_to "Editar sua conta", edit_usuario_path(@usuario) %></li>
            <% end %>
        </div>
    </div>

    <%= render template: "application/showCategory" %>
    
</body>